/*ABOUT ME*/
.image-mask-about-me {
  background-image: url("src/assets/bg-8.jpg");
  background-size: cover;
}
.container_about-me {
  height: 75vh;
  background-image: linear-gradient(150deg, rgb(2, 38, 31), rgba(52, 232, 158, 0.4));
 /* background-image: radial-gradient(at 14.445730540734958% 13.898817537381959%,
    hsla(128.35443037974682, 96.73469387755102%, 51.96078431372548%, 1) 0%,
    hsla(128.35443037974682, 96.73469387755102%, 51.96078431372548%, 0) 100%),
    radial-gradient(at 26.110163220507353% 1.4866632168791472%,
    hsla(188.10126582278482, 96.73469387755102%, 51.96078431372548%, 1) 0%,
    hsla(188.10126582278482, 96.73469387755102%, 51.96078431372548%, 0) 100%),
    radial-gradient(at 85.05229430134152% 88.83468395502915%,
    hsla(128.35443037974682, 96.73469387755102%, 51.96078431372548%, 1) 0%,
    hsla(128.35443037974682, 96.73469387755102%, 51.96078431372548%, 0) 100%),
    radial-gradient(at 7.686427842144572% 87.12037525216675%,
    hsla(188.10126582278482, 96.73469387755102%, 51.96078431372548%, 1) 0%,
    hsla(188.10126582278482, 96.73469387755102%, 51.96078431372548%, 0) 100%),
    radial-gradient(at 53.803021218402755% 65.59451983692935%,
    hsla(128.35443037974682, 96.73469387755102%, 51.96078431372548%, 1) 0%,
    hsla(128.35443037974682, 96.73469387755102%, 51.96078431372548%, 0) 100%),
    radial-gradient(at 38.25460774316613% 43.67649147717941%,
    hsla(188.10126582278482, 96.73469387755102%, 51.96078431372548%, 1) 0%,
    hsla(188.10126582278482, 96.73469387755102%, 51.96078431372548%, 0) 100%),
    radial-gradient(at 49.92258566366993% 18.208548139213043%,
    hsla(128.35443037974682, 96.73469387755102%, 51.96078431372548%, 1) 0%,
    hsla(128.35443037974682, 96.73469387755102%, 51.96078431372548%, 0) 100%),
    radial-gradient(at 85.84516569808491% 62.30016420685273%,
    hsla(188.10126582278482, 96.73469387755102%, 51.96078431372548%, 1) 0%,
    hsla(188.10126582278482, 96.73469387755102%, 51.96078431372548%, 0) 100%),
    radial-gradient(at 34.22933644733348% 50.05155686831683%,
    hsla(128.35443037974682, 96.73469387755102%, 51.96078431372548%, 1) 0%,
    hsla(128.35443037974682, 96.73469387755102%, 51.96078431372548%, 0) 100%),
    radial-gradient(at 12.126386530242083% 91.18308386768416%,
    hsla(188.10126582278482, 96.73469387755102%, 51.96078431372548%, 1) 0%,
    hsla(188.10126582278482, 96.73469387755102%, 51.96078431372548%, 0) 100%);*/

  .v-card {
    //background-image: linear-gradient(90deg, white, 1%, black, 95%, white);

    background-color: rgba(0, 0, 0, 0.1);

  }
}
/*USER SETTINGS*/
.sheet-user-settings {
  min-width: 360px;
}
/*PROJECTS PREVIEW*/
.card-hover {
  overflow: hidden;
}
.card-hover .v-img {
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.card-hover .v-img:hover {
  transform: scale(1.1);
}
.card-menus {
  transition: all 1s;
}

@media screen and (max-width: 900px) {
  /*DEFAULT LAYOUT*/
  .main-layout-wrapper {
    .v-main {
      padding-inline: 0;
    }
  }
  .container_about-me {
    height: 85vh;
  }
}
@media screen and (max-width: 650px) {
  .container_about-me {
    height: 110vh;
  }
}
@media screen and (max-width: 500px) {
  .card-hover {
    width: 300px;
  }
  .card-hover .v-img {
    height: 150px !important;
  }
  .sheet-user-settings {
    min-width: 250px;
  }
}




