// Variables
//
// custom-variables
//

$variable-prefix:             bs- !default; // Deprecated in v5.2.0 for the shorter `$prefix`
$prefix:                      $variable-prefix !default;

// Boxed layout width
$boxed-layout-width: 1300px;
$boxed-body-bg: var(--#{$prefix}boxed-body-bg);
