* {
  /*background-color: white;*/
  color: #222121;
}

/*#layout-wrapper {
  max-width: 1300px;
  margin: 0 auto;
}*/
.page-wrapper {
  min-height: 100vh;
}
.v-breadcrumbs {
  justify-content: end;
}
.main-container {
  max-width: 95%;
}
