/*GENERAL*/
* {
	text-decoration: none;
}
::selection {
	background: #90ff76;
	color: black;
	text-shadow: none;
}

::-moz-selection {
	background: #90ff76;
	color: black;
	text-shadow: none;
}

/*DEFAULT LAYOUT*/
.app-bar-mobile {
}
.main-container {
	max-width: 100%;
	padding-bottom: 30px;
	background-color: #311b92;
}
.main-card-homePage {
	/*background-image: url("https://img.freepik.com/vetores-gratis/fundo-hexagonal-gradiente_23-2148938116.jpg?t=st=1744313883~exp=1744317483~hmac=7e2fcc52e0b57224007710dcfe493c2dd9f81e71dcfaa4ea9cdd498f9c3bf819&w=996");
	--webkit-background-image: url("https://img.freepik.com/vetores-gratis/fundo-hexagonal-gradiente_23-2148938116.jpg?t=st=1744313883~exp=1744317483~hmac=7e2fcc52e0b57224007710dcfe493c2dd9f81e71dcfaa4ea9cdd498f9c3bf819&w=996");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;*/
}

